#map {
    height: 100%;
    width: 70%;
    margin: auto;
    flex: 2;
}
#container {
    display: flex;
    height: 100vh;
}

#event-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #f8f8f8;
    border-left: 2px solid #ddd;
}
.divider {
    height: 1px;
    background: #ddd;
    margin: 15px 0;
}