#map {
    height: 600px;
    width: 70%;
    margin: auto;
}
#container {
    display: flex;
    height: 100vh;
}

#map {
    flex: 2;
}

#event-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background: #f8f8f8;
    border-left: 2px solid #ddd;
}
